body.x-border-layout-ct,div.x-border-layout-ct {
    background-color: #f2f2f2;
}
.x-viewport,.x-viewport > .x-body {
    /* margin: 10px; */
}
/* 平台左侧导航栏PlatNavigationPanel样式及内含组件样式 */
.rs-plat-naga-field-base {
	height: 40px;
	margin-bottom: 0px;
	border-bottom: 2px solid #d7d7d7;
	font-size: 14px;
	font-family: Microsoft YaHei;
}
.rs-plat-naga-field-label {
	display: table-cell;
	border-right: 2px solid #d7d7d7;
	background-color: #f2f2f2;
	background: linear-gradient(#f9f9f9,#e1e1e1);
	vertical-align: middle;
}
.rs-plat-naga-field-body {
    min-width: 190px;
    max-width: 190px;
}
.rs-plat-naga-field {
	padding-left: 6px;	
	font-size: 14px;
	font-family: Microsoft YaHei;
}
.rs-plat-naga-field.x-form-text.x-form-text-default {
	height: 38px;
	background: #D9F7FF;
}
.rs-plat-naga-field.x-form-checkbox-default {
	margin: -5px 0px 0px 6px;
}
.rs-plat-naga-field-base .x-form-trigger-default {
    background: 0 0 transparent url(images/form/trigger.gif) no-repeat;
}
/* 导航栏spinner */
.rs-plat-naga-field-base .x-form-spinner-default {
    background-image: url(images/form/spinner.gif);
    background-color: #fff;
    width: 17px;
    height: 20px;
}
.rs-plat-naga-field-base .x-form-spinner-up-default {
    background-position: 0 0;
}
.rs-plat-naga-field-base .x-form-spinner-up-default.x-form-spinner-over {
    background-position: -17px 0;
}
.rs-plat-naga-field-base .x-form-spinner-up-default.x-form-spinner-over.x-form-spinner-focus {
    background-position: -68px 0;
}
.rs-plat-naga-field-base .x-form-spinner-up-default.x-form-spinner-focus {
    background-position: -51px 0;
}
.rs-plat-naga-field-base .x-form-spinner-up-default.x-form-spinner.x-form-spinner-click {
    background-position: -34px 0;
}
.rs-plat-naga-field-base .x-form-spinner-down-default {
    background-position: 0 -20px;
}
.rs-plat-naga-field-base .x-form-spinner-down-default.x-form-spinner-over {
    background-position: -17px -20px;
}
.rs-plat-naga-field-base .x-form-spinner-down-default.x-form-spinner-over.x-form-spinner-focus {
    background-position: -68px -20px;
}
.rs-plat-naga-field-base .x-form-spinner-down-default.x-form-spinner-focus {
    background-position: -51px -20px;
}
.rs-plat-naga-field-base .x-form-spinner-down-default.x-form-spinner.x-form-spinner-click {
    background-position: -34px -20px;
}
/*******************************************************************/

/* 平台右侧总container */
.x-container .rs-plat-right-ct {
    margin: 10px 10px 10px 0px;
	padding: 10px;
	border: 1px solid #99bce8;
	background: #ffffff;
}

/* 平台有关的pageform及内含组件样式 */
.rs-plat-pageform .x-form-item-label-default {
	padding-top: 0px;
	color: #000;
    font-size: 14px;
	font-family: Microsoft YaHei;
	vertical-align: middle;
}
.rs-plat-pageform .x-form-text-default {
	height: 38px;
	background: #D9F7FF;
	color: #000;
    font-size: 14px;
	font-family: Microsoft YaHei;
}
.rs-plat-pageform .x-box-layout-ct {
    margin: 5px;
}
.rs-plat-pageform .x-form-type-checkbox {
	margin-top: 10px;
}
.rs-plat-pageform .x-form-trigger-default {
	background: 0 0 transparent url(images/form/trigger.gif) no-repeat;
}
.rs-plat-pageform .x-form-display-field {
	display: table-cell;
	height: 38px;
	vertical-align: middle;
	font-size: 14px;
	font-family: Microsoft YaHei;
}
/* pageform scan */
.rs-plat-pageform .rs-scan-field .x-form-text-default {
	height: 24px;
	background: #D9F7FF;
	color: #000;
    font-size: 14px;
	font-family: Microsoft YaHei;
}
/* pageform spinner */
.rs-plat-pageform .x-form-spinner-default {
    background-image: url(images/form/spinner.gif);
    background-color: #fff;
    width: 17px;
    height: 20px;
}
.rs-plat-pageform .x-form-spinner-up-default {
    background-position: 0 0;
}
.rs-plat-pageform .x-form-spinner-up-default.x-form-spinner-over {
    background-position: -17px 0;
}
.rs-plat-pageform .x-form-spinner-up-default.x-form-spinner-over.x-form-spinner-focus {
    background-position: -68px 0;
}
.rs-plat-pageform .x-form-spinner-up-default.x-form-spinner-focus {
    background-position: -51px 0;
}
.rs-plat-pageform .x-form-spinner-up-default.x-form-spinner.x-form-spinner-click {
    background-position: -34px 0;
}
.rs-plat-pageform .x-form-spinner-down-default {
    background-position: 0 -20px;
}
.rs-plat-pageform .x-form-spinner-down-default.x-form-spinner-over {
    background-position: -17px -20px;
}
.rs-plat-pageform .x-form-spinner-down-default.x-form-spinner-over.x-form-spinner-focus {
    background-position: -68px -20px;
}
.rs-plat-pageform .x-form-spinner-down-default.x-form-spinner-focus {
    background-position: -51px -20px;
}
.rs-plat-pageform .x-form-spinner-down-default.x-form-spinner.x-form-spinner-click {
    background-position: -34px -20px;
}
/*******************************************************************/

/* 平台有关的grid及内含组件样式 */
.x-panel.rs-plat-grid .x-panel-bodyWrap div.x-column-header {
	height: 30px;
	font-size: 14px;
	font-family: Microsoft YaHei;
}
.x-panel.rs-plat-grid .x-panel-bodyWrap .x-grid-view .x-grid-row {
	height: 38px;
}
.x-panel.rs-plat-grid .x-panel-bodyWrap .x-grid-view .x-grid-td {
    overflow: hidden;
    border-width: 0;
    vertical-align: middle;
	font-size: 14px;
	font-family: Microsoft YaHei;
}
.x-panel.rs-plat-grid .x-panel-bodyWrap .x-grid-view .x-grid-td {
    overflow: hidden;
    border-width: 0;
    vertical-align: middle;
	font-size: 14px;
	font-family: Microsoft YaHei;
}
.x-panel.rs-plat-grid .x-form-text-grid-cell {
	min-height: 38px;
	font-size: 14px;
	font-family: Microsoft YaHei;
}
.x-panel.rs-plat-grid .x-action-col-icon {
	margin: 0px 4px 0px;
}
.x-panel.rs-plat-grid .x-form-trigger-grid-cell {
	background: 0 0 transparent url(images/form/trigger.gif) no-repeat;
}
/* grid spinner */
.x-panel.rs-plat-grid .x-form-spinner-grid-cell {
    background-image: url(images/form/spinner.gif);
    background-color: #fff;
    width: 17px;
    height: 20px;
}
.x-panel.rs-plat-grid .x-form-spinner-up-grid-cell {
    background-position: 0 0;
}
.x-panel.rs-plat-grid .x-form-spinner-up-grid-cell.x-form-spinner-over {
    background-position: -17px 0;
}
.x-panel.rs-plat-grid .x-form-spinner-up-grid-cell.x-form-spinner-over.x-form-spinner-focus {
    background-position: -68px 0;
}
.x-panel.rs-plat-grid .x-form-spinner-up-grid-cell.x-form-spinner-focus {
    background-position: -51px 0;
}
.x-panel.rs-plat-grid .x-form-spinner-up-grid-cell.x-form-spinner.x-form-spinner-click {
    background-position: -34px 0;
}
.x-panel.rs-plat-grid .x-form-spinner-down-grid-cell {
    background-position: 0 -20px;
}
.x-panel.rs-plat-grid .x-form-spinner-down-grid-cell.x-form-spinner-over {
    background-position: -17px -20px;
}
.x-panel.rs-plat-grid .x-form-spinner-down-grid-cell.x-form-spinner-over.x-form-spinner-focus {
    background-position: -68px -20px;
}
.x-panel.rs-plat-grid .x-form-spinner-down-grid-cell.x-form-spinner-focus {
    background-position: -51px -20px;
}
.x-panel.rs-plat-grid .x-form-spinner-down-grid-cell.x-form-spinner.x-form-spinner-click {
    background-position: -34px -20px;
}

/********* marker ********************/
.rs-plat-naga-field.x-form-text.x-form-text-default.rs-field-mustinput-bgc {
	background-color: #ffdfd7;
}

/********* left navigation ********************/
.rs-plat-naga-panel {
	margin: 10px;min-width: 323px;
}
.rs-plat-naga-panel-ct {
	padding: 10px;
}
.rs-plat-naga-panel-ct-first {
    border: 2px solid #d7d7d7;border-bottom: 0px;
}
/*******************************************************************/