.addAction-button-item{
	background-image: url(/resources/images/add_1.png);
}
/*
用于操作列中删除按钮图标（标记未删除状态）
*/
.deleteAction1-button-item{
	background-image: url(/resources/images/del_1.png);
}
/*
用于操作列中删除按钮图标（标记删除状态）
*/
.deleteAction2-button-item{
	background-image: url(/resources/images/del_2.png);
}
.saveAction-button-item{
	background-image: url(/resources/images/save.png);
}

/*0010670 - 保存按钮样式中增加apply.png*/
.saveAction-button-item-apply{
	background-image: url(/resources/images/apply.png);
}

.moreAction-button-item{
	background-image: url(/resources/images/save.png);
}
.splitAction-button-item{
	background-image: url(/resources/images/split.png);
}
.x-action-col-icon{
	margin-left: 5px;
}
.form-paging-prev{
	background-image: url(/resources/images/up.png);
}
.form-paging-next{
	background-image: url(/resources/images/down.png);
}
.upload-button-icon{
	background-image: url(/resources/images/add.png);
}
.check-button-icon{
	background-image: url(/resources/images/application-form-magnify.png);
}
.download-button-icon{
	background-image: url(/resources/images/go-bottom.png);
}
.submit-button-icon{
	background-image: url(/resources/images/upload_.png);
}
.submit-thumbbutton-icon{
	background-image: url(/resources/images/upload_.png);
}
.downloadAction-button-item{
	background-image: url(/resources/images/download.png);
}
.downloadAction1-button-item{
	background-image: url(/resources/images/download_dis.png);
}
.pageEditAction-button-icon{
	background-image: url(/resources/images/page_edit.png);
}
.editFindAction-button-icon{
	background-image: url(/resources/images/edit-find.png);
}
.exception-button{
	background-image: url(/resources/images/exclamation.png);
}
.rs-icon-print {
	background-image: url(/resources/images/print.png);
}
.rs-icon-queryDraft {
	background-image: url(/resources/images/query_draft.png);
}
/*用于日历组件标记工作日和休息日的组件
TODO：因10303上线紧急而进行临时修改，以符合上线要求。
以下为原本的样式设计，在未来可以套自定义样式时，该样式按需进行修正
    float:right;
    height:100%;
    margin-left:15px;
    display:flex;
    flex-direction:column;
    justify-content:top;
    shape-outside:inset(calc(0% - 50px) 0 );
	*/
.calendarWorkDay-icon-common{
position: absolute;
right: 0px;
bottom: 0px;
}


/**以下三个样式因10303需求而增加
其中 monthSelector-yearSelectButton 没有直接被使用，背景颜色**/

.monthSelector-yearSelectButton{
	background: linear-gradient(rgb(228, 243, 255) 45%, rgb(195, 217, 243) 50%, rgb(201, 223, 250) 90%, rgb(215, 236, 255) 95%);';
}


/*或者背景颜色 223 232 246*/
.monthSelector-monthSelectButton .x-btn-default-small{
	background-image:none;
	background-color:inherit;
}

.monthSelector-monthSelectButton .x-btn-over.x-btn-default-small {
	background-image: -webkit-gradient(linear, top, bottom, color-stop(0%, #e4f3ff), color-stop(48%, #d9edff), color-stop(52%, #c2d8f2), color-stop(0%, #c6dcf6));
    background-image: -webkit-linear-gradient(top, #e4f3ff, #d9edff 48%, #c2d8f2 52%, #c6dcf6);
    background-image: -moz-linear-gradient(top, #e4f3ff, #d9edff 48%, #c2d8f2 52%, #c6dcf6);
    background-image: -o-linear-gradient(top, #e4f3ff, #d9edff 48%, #c2d8f2 52%, #c6dcf6);
    background-image: -ms-linear-gradient(top, #e4f3ff, #d9edff 48%, #c2d8f2 52%, #c6dcf6);
    background-image: linear-gradient(top, #e4f3ff, #d9edff 48%, #c2d8f2 52%, #c6dcf6);
}


/* 
 *  公共按钮图标(参照 /resources/images/ 目录中图片名称) 
 */
.rs-icon-cog {
	background-image: url(/resources/images/cog.png);
}
.rs-icon-user {
	background-image: url(/resources/images/user_03.png);
}
.rs-cancel-user {
	background-image: url(/resources/images/rslogout.png);
}

/********* grid-rowgrouping **********/
table.x-grid-item div.x-grid-cell-inner.rs-row-group {
	z-index: 1;
	position: absolute;
	width: inherit;
	background-color: white;
}


/********* marker ********************/
/**10977 - 对此种情况也增加background-image: none 样式**/
td.x-grid-cell.rs-marker-invalid,
input.x-form-field.rs-marker-invalid {
	background-image: none;
	background-color: #ffdfd7;
}

/********* mustinput marker ********************/
input.x-form-field.rs-field-mustinput-bgc {
	background-image: none;
	background-color: #ffdfd7;
}

/**0010056 - 用于RsCheckColumn选择框的图标样式**/
/**可对比参考resources/classic/theme-classic/images/form/checkbox.gif**/
.rs-checkcolumn .x-grid-checkcolumn::after{
	content: " ";
    height: 13px;
    width: 13px;
    background-image: url(/resources/images/row-check-sprite.gif);
    display: inline-block;
}
.rs-checkcolumn .x-column-header-text-wrapper{
	display: flex;
	justify-content: center;
}
.rs-checkcolumn .x-column-header-text-inner{
	margin-right:3px;
}

/* rs-recepiptDateField-text-wrap
用于单据日期控件：RsRecepiptDataForm修改的样式 */
.rs-recepiptDateField-text-wrap {
    display: table-cell;
    overflow: hidden;
    height: 100%;
    position: relative;
	text-align: center;
}

.rs-recepiptDateField-text-wrap:hover{
	border-color: #90c5f6;
}

.rs-recepiptDateField-text-wrap-default {
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
}

.rs-recepiptDateField-text-wrap-default.x-form-text-wrap-focus{
    border-color: #7eadd9;
}

.rs-recepiptDateField-text-wrap-default.x-form-text-wrap-invalid {
    border-color: #c30;
}

.rs-recepiptDateField-field {
	text-align: center;
}

.rs-recepiptDateField-field.x-form-focus {
	background-image: url(images/form/text-bg.gif);
}

.rs-recepiptDateField-field.x-form-invalid-field {
	background-image: url(images/grid/invalid_line.gif);
}

.rs-recepiptDateField-readonly .rs-recepiptDateField-field {
	background-image: none;
}

.rs-recepiptDateField-readonly .rs-recepiptDateField-field.x-form-focus{
	background-image: none;
}

.rs-recepiptDateField-readonly .rs-recepiptDateField-text-wrap:hover{
	border-color: #ffffff;
}

.rs-recepiptDateField-readonly .rs-recepiptDateField-text-wrap-default.x-form-text-wrap-focus{
	border-color: #ffffff;
}

/****新操作列相关样式***/
.detailitem-rsactionplus{
	background-image: url('/resources/images/detail(1).png');
}

.relationitem-rsactionplus{
	background-image: url('/resources/images/link(1).png');
}

/****小计合计插件覆盖样式****/
.x-grid-row-summary .x-grid-cell-inner {
	font-weight : bold; background-color : #f2f2f2;
}
.rs-docked-summary {
    border-width: 1px;
    border-color: #99bce8;
    border-style: solid;
    background: #f2f2f2!important;
	border: none;
}
.x-grid-row-summary .x-grid-cell,
.x-grid-row-summary .x-grid-rowwrap,
.x-grid-row-summary .x-grid-cell-rowbody {
    border-color: #ededed;
    background-color: #f2f2f2 !important;
    font: normal 11px/13px tahoma, arial, verdana, sans-serif;
	border-top: none;
}
.x-grid-row-summary .x-grid-cell-first .x-grid-cell-inner{
	text-align: center !important
}